altair==4.1.0
streamlit==1.19.0
opencage==2.4.0
requests>=2.31.0
toml==0.10.2
typing-extensions>=3.10.0.0
tzlocal>=1.1
validators>=0.2
gitpython!=3.1.19
pydeck>=0.1.dev5
tornado>=6.0.3
watchdog
fuzzywuzzy==0.18.0
